body {
    margin: 0;
}
a:link {
    color: rgb(0, 0, 0);
}
nav ul {
    background-color: antiquewhite;
}
nav ul li {
    display:flex;
    border-radius: 10px;
    background-color:rgb(255, 255, 255);
    /*border: 1px solid black;*/
    letter-spacing: .1em;
    margin-top: 10px;
    margin-bottom: 10px;
}
.flexbox-logo {
    display: flex;
    align-self: center;
}

.img-fluid {
    width: fit-content;
    min-height: 100px;
}

.navbar-toggler-icon {
    display: flex;
}
/*.justify-content-end {
    background-color: rgba(240, 248, 255, 0.176);
}*/
.navbar {
     background-color: rgba(240, 248, 255, 0.176);
}
.carousel {

    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    min-width: 100px;
    max-width: 90%;
}